.Footermain{
    /* background-image: url('https://themebeyond.com/html/movflx/img/bg/newsletter_bg.jpg'); */
   
   background-color: black;
    width: 100%;
    height :auto;   

}
h5{

    font-size: 1rem;
margin: 34px;
color: white;

}

.Footermain img{
margin: 30px;
height: 25px;
}